<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nanbar-header" routerLinkActive="active">
      <a routerLink="/songs" class="navbar-brand" id="logo">Virtuoso</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/songs">Home</a></li>
        <li routerLinkActive="active">
          <a routerLink="/songs">Mixtapes</a></li>
        <li routerLinkActive="active">
          <a routerLink="/songs">Listen & Learn</a></li>          
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li id="login" routerLinkActive="active">
          <a routerLink="/sign-up">{{userName}}</a></li>
        <li id="login" routerLinkActive="active">
          <a routerLink="/sign-in">Sign in</a></li>
      </ul>
    </div>
  </div>
</nav>