<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="nanbar-header" routerLinkActive="active">
      <a routerLink="/songs" class="navbar-brand" id="logo">Virtuoso</a>
    </div>

    <div class="navbar-default">
      <form *ngIf="HeaderService.user; else menuText">
          <input type="text" name="search" placeholder="Search Music">
      </form>
      <ng-template #menuText>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a id="a" routerLink="/songs">Home</a></li>
        <li routerLinkActive="active">
          <a id="a" routerLink="/songs">Mixtapes</a></li>
        <li routerLinkActive="active">
          <a id="a" routerLink="/songs">Listen & Learn</a></li>          
      </ul>
      </ng-template>
      <ul *ngIf="HeaderService.user; else signInText"
        class="nav navbar-nav navbar-right">
        <li id="login" routerLinkActive="active">
          <a id="b" routerLink="/songs">Hi {{HeaderService.user.name}}!</a></li>
       </ul>
       <ng-template #signInText>
       <ul class="nav navbar-nav navbar-right">
        <li id="login" routerLinkActive="active">
          <a id="b" routerLink="/sign-up">{{userName}}</a></li>
        <li id="login" routerLinkActive="active">
          <a id="b" routerLink="/sign-in">Sign in</a></li>
      </ul>
      </ng-template>
    </div>
  </div>
</nav>
</header>