
#login {
    width: 160px;
    background: #e3e3e3;
    color:#2e318c;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    color:#2e318c;
    margin-right: 10px;
}
#a {
  color:#2e318c;
  background:#4ebdc1;
}
#b {
  color:#2e318c;
}